<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanzi.infrashtructure.db.mapper.ConfigDictionaryMapper">

    <resultMap id="BaseResultMap" type="com.wanzi.infrastructure.db.domain.ConfigDictionaryEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="dictionaryKey" column="dictionary_key" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="isSystem" column="is_system" jdbcType="TINYINT"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dictionary_key,value,
        is_system,create_date,create_by,
        update_date,update_by,version
    </sql>
</mapper>
